<div>
  <a href="/" class="btn home_btn">About Me</a> 
  <!-- <a href="/" class="btn home_btn">About Me</a>  -->
  <a href="/projects" class="btn home_btn">Projects</a> 
  {% if site.github.is_project_page %}
  <a href="{{ site.github.owner_url }}" class="btn home_btn">Github <img src="/assets/img/github.png" width="15" alt=""></a>
  {% endif %}
  <a href="{{ site.linkedIn_url }}" class="btn home_btn">LinkedIn <img src="/assets/img/linkedin.png" width="15" alt=""></a>
  
</div>

<section class="page-header">
  <br>
  <br>
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

  {% if page.projects %}
    <a href="https://notiflight.herokuapp.com" class="btn">Notiflight Project</a>
    <a href="http://34.228.62.110" class="btn">Events Project</a>
  {% endif %}
  
</section>